<header class="site-head" <% if (blog.cover) { %>style="background-image: url(<%= blog.cover %>); background-position: center center;"<% } %>>
    <div class="vertical">
        <div class="site-head-content inner">
            <% if (blog.logo) { %><a class="blog-logo" href="<%= blog.url %>"><img src="<%= blog.logo %>" alt="Blog Logo" /></a><% } %>
            <h1 class="blog-title"><%= blog.title %></h1>
            <h2 class="blog-description"><%= blog.description %></h2>
            <p class="post-meta"><a href="https://github.com/baygeldin/react-gdb">Fork on GitHub</a> &bull; <a href="/about">Read about the project</a></p>
        </div>
    </div>
</header>

<main class="content" role="main">
    <% for (url in public._data) { %>
    <% var post = public._data[url] %>

    <article class="post">
        <header class="post-header">
            <span class="post-meta"><time datetime="<%- new Date(post.date).toUTCString() %>"><%- post.date %></time></span>
            <h2 class="post-title"><a href="<%= url %>"><%- post.title %></a></h2>
        </header>
        <section class="post-excerpt">
            <p><%- partial(url).replace(/<[^>]*>/g, "").substr(0, 250) %>&hellip;</p>
        </section>
    </article>


    <% } %>

    <!-- {{pagination}} -->

</main>
