<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%- blog.title %></title>
    <link><%- blog.url %></link>
    <description><%- blog.description %></description>
    <atom:link href="<%- url %>/feed.xml" rel="self" type="application/rss+xml" />
    <% for(slug in public._data) { %>
    <% var post = public._data[slug]; var src = partial("../" + slug); var start = src.indexOf("</h1>"); %>
      <item>
        <title><%- src.slice(4, start) %></title>
        <description><![CDATA[<%- src.slice(start + 5).replace(/src=\"assets\/images/g, 'src="' + blog.url + '/assets/images') %>]]></description>
        <pubDate><%= new Date(post.date) %></pubDate>
        <link><%= blog.url %>/<%- slug %></link>
        <guid isPermaLink="true"><%= blog.url %>/<%- slug %></guid>
      </item>
    <% } %>
  </channel>
</rss>
